<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <script src="/comment.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/opencagedata/leaflet-opencage-geocoding@v2.0.0/dist/css/L.Control.OpenCageGeocoding.min.css" />
        <script src="https://cdn.jsdelivr.net/gh/opencagedata/leaflet-opencage-geocoding@v2.0.0/dist/js/L.Control.OpenCageGeocoding.min.js"></script>
        <script src="/map.js"></script>
        
        <title>Events</title>
    </head>
    <body>
        <div class="container">
            <ul class="nav">
                <li><a href="../">Home</a></li>
                <li><a href="../login">Login</a></li>
            </ul>
            
            <h2>Event Registration</h2>
            
            <!-- Placeholder for displaying the event ID -->
            <p id="eventIdDisplay"></p>
        </div>
        
        <div id="eventObject"></div>
        <div id="inviteFormContainer" style="display:none;">
            <h3>Invite Users to Private Event</h3>
            <form id="inviteUserForm">
                <label for="inviteUsername">Username:</label>
                <input type="text" id="inviteUsername" name="inviteUsername" required>
                <input type="hidden" id="eventId" name="eventId">
                <button type="submit">Invite</button>
            </form>
        </div>


        <script>

        async function loadEvent() {
        const email = getCookie('user_email'); 
        let userId = await getUserId(email);
        // Get the event ID from the URL
        let eventId = window.location.pathname.split('/').pop();

        // Display the event ID on the screen
        document.getElementById('eventIdDisplay').textContent = `Event ID: ${eventId}`;

        try {
            // Fetch event data from the server
            const response = await fetch(`/api/events/${eventId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            let eventElement = document.getElementById("eventObject");

            if (response.ok) {
                const event = await response.json();
                let videoUrl = '';

                try {
                    if(event.yt_link) {
                        const url = new URL(event.yt_link);
                        const videoId = url.searchParams.get('v');
                        if (videoId) {
                            videoUrl = await fetchVideo(videoId)
                        } else {
                            console.error('YouTube URL missing video ID:', event.yt_link);
                        }
                    } else {
                        console.error('YouTube link undefined', event.yt_link);
                    }
                } catch (error) {
                    console.error('Invalid YouTube URL:', event.yt_link, error);
                    videoUrl = '';
                }

                async function fetchVideo(videoId) {
                    try {
                        const response = await fetch(`/api/video/${videoId}`);
                        if (!response.ok) {
                            throw new Error('Failed to fetch video');
                        }
                        const video = await response.json();
                        console.log("video :", video);
                        return video.embedUrl;
                    } catch (error) {
                        console.error('Error:', error);
                        return '';
                    }
                }

                geocode = await fetchGeocode(event.address);
                const mapId = `map-${event.id}`;

                eventElement.innerHTML = `
                    <h3>${event.event_name}</h3>
                    <p>${event.description}</p>
                    <p><strong>Date:</strong> ${new Date(event.event_date).toLocaleDateString()}</p>
                    <p><strong>Location:</strong> ${event.address}</p>
                    <div id="${mapId}" class="map-container"></div>
                    ${(event.is_private && userId === event.admin_id)? `<button class="inviteBtn" data-event-id="${event.id}">Invite Users</button>` : ''}
                

                    ${videoUrl ? `
                        <p><strong>YouTube Video:</strong></p>
                        <iframe width="720" height="400" src="${videoUrl}" frameborder="0" allowfullscreen></iframe>
                        ` : `<p><strong>YouTube Video:</strong></p>`}

                    <div class="comments">
                        <h4>Comments</h4>
                        <form class="comment-form-${event.id}" id="comment-form-${event.id}" data-event-id="${event.id}">
                            <input type="text" name="comment" placeholder="Add comment" required>
                            <button type="submit">Post</button>
                        </form>
                        <div class="comments-list-${event.id}"></div>
                    </div>
                `;
                fetchComments(eventId);
                if(geocode) {
                    console.log(mapId, geocode.lat, geocode.lng, event.address, event.event_name);
                    createMap(mapId, geocode.lat, geocode.lng, event.address, event.event_name);
                }
                

                
                const form = document.getElementById(`comment-form-${event.id}`);

                if (form) {
                    form.addEventListener('submit', async (event) => {
                        event.preventDefault(); // Prevent the form from submitting normally
                        const input = form.querySelector('input[name="comment"]');
                        const commentText = input.value;

                        await postComment(eventId, commentText);
                        input.value = '';
                    });
                } else {
                    console.error(`Form with ID comment-form-${event.id} not found`);
                }
                if (event.is_private) {
                    const inviteBtn = eventElement.querySelector('.inviteBtn');
                    inviteBtn.addEventListener('click', function() {
                        const eventId = this.getAttribute('data-event-id');
                        document.getElementById('eventId').value = eventId; // Set the event ID in the invite form
                        document.getElementById('inviteFormContainer').style.display = 'block'; // Show the invite form
                    });
                }

            } else {
                console.error('Failed to fetch event');
                alert('Failed to load event');
            }
        } catch (error) {
            console.error('Error fetching event:', error);
        }
        inviteUserSubmission();


    function inviteUserSubmission(){
        document.getElementById('inviteUserForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const username = document.getElementById('inviteUsername').value;
        const eventId = document.getElementById('eventId').value;

        try {
            const response = await fetch('/api/events/inviteUser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, eventId })
            });

            if (response.ok) {
                const result = await response.json();
                alert(`User invited successfully! Invitation link: ${result.invitationLink}`);
            } else {
                const errorResult = await response.json();
                alert(`Failed to invite user: ${errorResult.error}`);
            }
        } catch (error) {
            console.error('Error inviting user:', error);
        }
    });
    }

    async function getUserId(email) {
        if (email) {
            try {
                const response = await fetch(`/api/account/userIdThroughEmail?email=${encodeURIComponent(email)}`, {
                    method: 'GET',
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                console.log('User ID:', data.userId);
                return data.userId;
            } catch (error) {
                console.error('Error fetching the user ID:', error);
                return undefined; // Return undefined if there's an error
            }
        } else {
            return undefined;
        }
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return decodeURIComponent(parts.pop().split(';').shift());
    }

    async function fetchGeocode(address) {
            try {
                const encodeAddress = encodeURIComponent(address);
                const response = await fetch(`/api/geocode?address=${encodeAddress}`);
                if(!response.ok) {
                    throw new Error('Failed to fetch geocode');
                }
                const geocode = await response.json();
                console.log(geocode);
                return geocode;
            } catch (error) {
                console.error('Error:', error);
            }
        }

    // Handle tab switching
    const tabs = document.querySelectorAll('.tab');
    tabs.forEach(tab => {
        tab.addEventListener('click', function() {
            tabs.forEach(t => t.classList.remove('active'));
            document.querySelectorAll('.tab-content').forEach(c => c.classList.remove('active'));

            tab.classList.add('active');
            document.getElementById(tab.dataset.tab).classList.add('active');
        });
    });
    }


    // Run the async function
    loadEvent();
        </script>
    </body>
</html>
